* {
  margin: 0;
  padding: 0;
  background-image: url("https://www.w3schools.com/css/paper.gif");
}

.heading {
  border: 2px;
  border-style: dashed;
  background: -webkit-linear-gradient(#47A8BD, #9C3848);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  margin: 50px 50px;
}

#web-browsers-heading {
  padding: 10px;
}

table {
  font-family: Trattatello, fantasy;
  border-collapse: collapse;
  width: 100%;
  font-size: 20px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#footer {
  text-align: justify;
  text-justify: inter-word;
  padding: 10px;
}

#web-browsers-table {
  background: rgb(230, 230, 230);
  width: 70%;
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}
